html {
font-family: "Segoe UI symbol";
padding: 5%;
background-color: #16161c;
max-width: 550px;
color: white;
margin: auto;
line-height: 30px;}

body {
background-color: #1c1c23;
width: 550px;
padding: 20px;
padding-bottom: 100px;
border-radius: 2px;}

p {
font-size: 13px;
line-height: 20px;}

.p2 {
margin-top: 30px;
margin-bottom: 30px;
background-color: #292937;
border-radius: 2px;
padding: 10px;}

.hr2 {
margin-top: 30px;
margin-bottom: 30px;
border-radius: 2px;
border-top: 2px solid white; }
iframe {
width: 510px;
height: 350px;
margin-left: auto;
margin-right: auto;}

a {
color: #ffce00}
