html {
  font-family: "Segoe UI symbol";
  padding: 5%;
  background-color: #16161c;
  max-width: 80%;
  color: white;
  margin: auto;
  line-height: normal;
}

body {
  width: 550px;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 2px;
}

h {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-weight: bold;
}

h1 {
  font-size: 2.6em
}

h2 {
  font-size: 2.2em
}

h3 {
  font-size: 1.8em
}

h4 {
  font-size: 1.4em
}

h5 {
  font-size: 2em
}

a {
  color: #28acac;
  text-decoration: none;
}

a hover {
  color: #ffce00;
  text-decoration: none;
}
